Repository COSIMA/cosima-recipes, pull requests merged in 2025-03, with the labels that each got.

#502 Convert tutorial to use intake
  Tutorials/COSIMA_CookBook_Tutorial.ipynb
Labels: 🛸 updating, 📔 tutorial

#503 Update README.md to discuss the Intake-version of the Cookbook tutorial
  README.md
  docs/index.rst
Labels: documentation 📜

#505 Shorter/succinct tutorial title + some formatting
  Tutorials/intake_to_dask_efficiently.ipynb
Labels: 📔 tutorial
